@import "../theme.scss";

.chat {

    font-size: 9pt;
    line-height: 1.5em;

    .message {
        display: inline-block;
        width: 100%;
        
        .name {
            text-align: left;
            min-width: fit-content;
            float: left;

        
        }

        .content {
            float: left;
        }
    }

    // This padding is to override the message tpye  padding
    .message[type="19"] {
        > .name { padding: 0; }
        .reply > .content { height: 0 !important; }
    }
}