@import "../theme.scss";
.flex {
    --embed-height: 50vh;
    --emote-height: 32px;
    --emote-big-height: 7em;

    overflow-y: scroll;
    height: 100vh;
    
    .chat-container {
        display: grid;
        padding: 10px;
        grid-gap: 0.5em;

        padding-top: $header-height + $header-padding + 20px;
    }
    
    .message {
        display: flex;
        flex-direction: column;

        .content {
            font-size: 9pt;
            &.embed-only { display: none; }
            .d-emoji {
                height: var(--emote-height);
                vertical-align: middle;
            }

            &.image-only .d-emoji {
                align-items: left;
                height: var(--emote-big-height)
            }
        }
        

        .name {
            font-size: 11pt;
        }

        .embeds {
            display: flex;
            object-fit: cover;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            
            video, img {
                max-width: 100%;
                max-height: var(--embed-height);
            }

            .attachment {
                float: left;
                padding: 10px;
                border: 1px solid $color-off-black;
                border-radius: $border-radius;
                background: $color-dark-gray;
                color: $color-off-white;
                margin-right: 0.25em;
                display: grid;
                grid-auto-columns: 1fr;
                grid-template-columns: 2.5em auto;
                grid-template-rows: 1fr 1fr;
                gap: 0px 0px;
                grid-template-areas:
                    "icon title    " 
                    "icon description";

                .icon { grid-area: icon; }
                .title { 
                    grid-area: title;
                    font-size: 11pt;
                 }
                .description { 
                    grid-area: description; 
                    color: $color-light-gray;
                    font-size: 9pt;
                }
            }
        }

        .reactions {
            padding-top: 2px;
        }

        .reply {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            
            --emote-height: 1em;
            --emote-big-height: 1em;

            .name, .content { font-size: 8pt; }
            .name {
                margin-right: 10px;
                &::before {
                    content: '↩';
                    margin-right: 4px;
                    color: gray;
                }
            }
            .content {
                color: gray;
            }
        }
    }
}



.icon {
    display: inline-block;
    &.file {
        aspect-ratio: 1/1.25;
        width: 2em;
        background: #cadfff;
        border-radius: 4px;
        border-top-right-radius: 15px;
        clip-path: polygon(0px 0px, 53.75% 0, 100.00% 35.83%, 100% 100%, 0px 100%);
        
        &::after {
            content: '';
            width: 1em;
            height: 1em;
            right: 0;
            background: #93a3fd;
            display: block;
            position: relative;
            left: calc(100% - 1em);
            /*! clip-path: polygon(0 0, 0% 100%, 100% 100%); */
        }
    }
}