$color-blurple: #5865f2;
$color-green: #57f287;
$color-yellow: #fee75c;
$color-fuchsia: #eb459e;
$color-red: #ed4245;
$color-white: #fff;
$color-off-white: #dcddde;
$color-black: #000;
$color-off-black: #1e2124;

$color-light-gray: #424549;
$color-gray: #36393e;
$color-dark-gray: #292b2f;

$color-primary: $color-blurple;
$color-secondary: $color-light-gray;
$color-background: $color-gray;
$color-success: $color-green;
$color-warning: $color-yellow;
$color-danger: $color-red;
$color-info: $color-fuchsia;
$color-text: $color-off-white;


$header-height: 20px;
$header-padding: 10px;
